
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Bitcount+Grid+Double:wght@100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Festive&family=Gabriela&family=Kings&family=Libre+Caslon+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=Macondo+Swash+Caps&family=Manrope:wght@200..800&family=Mea+Culpa&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Monsieur+La+Doulaise&family=Permanent+Marker&family=Petit+Formal+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    overflow-x: clip;
    text-decoration: none;
    list-style: none;
    color: white;
}

::-webkit-scrollbar{
    background: #040c1a;
    width: 0.5vw;
}

::-webkit-scrollbar-thumb{
    background: #D4B98A;
    border-radius: 10px;
}

body{
    background: #00040e;
    color: white;
}

.intro{
    width: 100vw;
    height: 100vh;
    font-family: "Cinzel", serif;
}

.intro .bg{
    animation: img 1s;
    animation-timing-function: linear;
}

@keyframes img{
    from{
        scale: 1.5;
    }

    to{
        scale: 1;
    }
}

.navbar{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 8vh;
    color: white;
    justify-content: center;
    top: 0;
    align-items: center;
    z-index: 3;
   transition: all 0.8s ease;
   border-bottom: 1px solid transparent;
}

.navbar.show{
    border-bottom: 1px solid rgba(212, 185, 138, 0.3);
    background: rgba(0, 4, 14, 0.5) !important;
    backdrop-filter:  blur(50px);
    -webkit-backdrop-filter: blur(50px);
    transition: all 0.8s ease;
}

.navbar .name{
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    animation: head 3.2s;
    animation-timing-function:ease-in-out;
}

.navbar .name a{
    display: flex;
    align-items: center;
}

.navbar .name h1{
    color: #E8C8A0;
    font-weight: lighter;
    font-size: 1.5vw;
}

.navbar img{
    width: 5vw;
}

.navbar ul{
    display: flex;
    gap: 2rem;
    animation: head 3.2s;
    animation-timing-function:ease-in-out;
}

@keyframes head{

 0%{
    opacity: 0;
 }

 75%{
    opacity: 0;
    margin-top: 1em;
 }

 100%{
    opacity: 1;
    margin-top: 0em;
 }

}

.navbar ul li a{
    color: #E8C8A0;
    letter-spacing: 1.5px;
    border-radius: 5%;
    padding: 0.7vw;
    font-size: 0.7vw;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: black;
    transition: 0.5s;
    border-radius: 5%;
    padding: 0.7vw;
    background: #D4B98A;
}

.reserve{
    position: absolute;
    right: 10%;
    align-self: center;
}

.reservee{
    border: 1px solid #D4B98A;
    transition: 0.5s;
}

.reservee:hover{
    color: black;
    background: #E8C8A0;
    transition: 0.5s;
}

.overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    justify-content: center;
    font-family: "Cinzel", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay h1{
    font-size: 7vw;
    font-weight: lighter;
    color: #E8C8A0;
    animation: head 2.5s;
    animation-timing-function: ease-in;
}

.overlay h2{
    font-size: 1.5vw;
    font-weight: lighter;
    color: #E8C8A0;
    animation: head 2.5s;
    animation-timing-function: ease-in;
    padding-bottom: 2%;
}

.intro-links{
    display: flex;
    gap: 2%;
    width: 50vw;
    justify-self: center;
    justify-content: center;
    animation: head 2.5s;
    animation-timing-function: ease-in;
}

.intro-links a{
    border: 1px solid #D4B98A;
    border-radius: 5%;
    padding: 0.8rem;
    font-size: 1vw;
    font-weight: lighter;
    color: #E8C8A0;
    transition: 0.5s;
}

.intro-links a:hover{
    background: #D4B98A;
    color: black;
    transition: 0.5s;
}

.fa-whatsapp{
    position: fixed;
    bottom: 3%;
    right: 1%;
    font-size: 250%;
    color: white;
    border: 1px solid rgb(48, 139, 48);
    padding: 0.2rem;
    background: rgb(48, 139, 48);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-items: center;
    align-content: center;
    font-weight: lighter;
    transition: 0.5s;
    z-index: 5;
}

.fa-whatsapp:hover{
    color:rgb(48, 139, 48);
    background: white;
    border: rgb(48, 139, 48);
    bottom: 4%;
    transition: 0.5s;
}

/* burger menu */

.Burger{
    display: flex !important;
    flex-direction: column ;
    align-items: center ;
    width: 100vw ;
    height: 100vh ; /* Fallback */
    height: 100svh ;
    opacity: 0 ;
    top: 0 ;
    background: #00040e ;
    font-family: "Cormorant Garamond", serif ;
    align-content: center ;
    transition: 0.25s linear ;
    justify-self: center ;
    position: fixed ;
    justify-content: center ;
    transform: scale(0);
    display: none;
}

.Burger div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Burger a{
    margin-bottom: 3rem;
    font-size: 150%;
    font-family: "Cormorant Garamond", serif;
    transition: 0.25s linear;
}

.Burger a:hover{
    color: #E8C8A0;
    transition: 0.25s linear;
}

.Burger .reservation{
    color: #E8C8A0;
    padding: 10px;
    border: 1px solid #E8C8A0;
}

.Burger div.active{
    animation: head 0.5s;
    animation-timing-function:ease-in-out;
}

.Burger.active{
    transition: 0.25s linear;
    opacity: 100%;
    z-index: 1;
    width: 100vw;
    transform: scale(1);
    display: block;
}

/* burger menu toggle button style */

.burger-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    z-index: 2;
    position: fixed;
    right: 3%;
    animation: head 3.2s;
    animation-timing-function:ease-in-out;
    display: none;
}

.burger-menu span {
    width: 30px;
    height: 1.5px;
    background-color:#E8C8A0;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* X Transformation */
.burger-menu.active .line-1 {
    transform: translateY(12px) rotate(45deg);
}

.burger-menu.active .line-2 {
    opacity: 0;
}

.burger-menu.active .line-3 {
    transform: translateY(-12px) rotate(-45deg);
}


/* scroll style */

.scroll{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.scroll.show{
    opacity: 1;
    transform: translateY(0);
}

/* our story style */

.our-story{
    display: flex;
    height: fit-content;
    width: 100%;
    justify-self: center;
    gap: 1em;
    margin-top: 10vh;
    margin-bottom: 10vh;
    justify-content: center;
}

.our-story div{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.our-story div img{
    border-radius: 10px;
}

.our-story h3{
    margin-bottom: 2rem;
    color: #E8C8A0;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
}

.our-story h1{
    margin-bottom: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    font-size: 250%;
    font-weight: lighter;
}

.our-story a{
    color: #E8C8A0;
    position: relative;
    margin-top: auto;
    font-family: "Cinzel", serif;
    width: fit-content;
    border-bottom: 1px solid transparent;
    font-weight: lighter;
    transition: 0.5s;
    border: 1px solid #D4B98A;
    border-radius: 5%;
    padding: 0.8rem;
}

.our-story a:hover{
    border-bottom: 1px solid #D4B98A;
    transition: 0.5s;
    color: black;
    background: #D4B98A;
}

.our-story p{
    color: #eeebe8;
    font-size: 130%;
    line-height: 1.5;
    font-family: "Cormorant Garamond", serif;   
    font-weight: lighter;
}

/* Numbers section */

.Numbers{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height:fit-content;
    align-items: center;
    border: thin solid rgba(212, 185, 138, 0.3);
    border-left: none;
    border-right: none;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.Numbers .div{
    text-align: center;
}

.Numbers h1{
    color: #E8C8A0;
    font-family: "Cinzel", serif;
}

.Numbers p{
    color: #E8C8A0;
    font-family: "Cinzel", serif;
}

/* menu/ image styling */

.menu{
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 5rem;
}

.menu h3{
    margin-bottom: 2rem;
    color: #E8C8A0;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
}

.menu h1{
    margin-bottom: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    font-size: 250%;
    font-weight: lighter;
}

.menu a{
    color: #E8C8A0;
    margin-top: 5rem;
    font-family: "Cinzel", serif;
    width: fit-content;
    border-bottom: 1px solid transparent;
    font-weight: lighter;
    transition: 0.5s;
    align-self: center;
    border: 1px solid #D4B98A;
    border-radius: 5%;
    padding: 0.8rem;
}

.menu a:hover{
    border-bottom: 1px solid #D4B98A;
    transition: 0.5s;
    color: black;
    background: #D4B98A;
}

.menu .grid{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 19vw);
    gap: 1%;
}

.menu .grid .grid-item{
    height: 30vh;
    margin-bottom: 1%;
    overflow: hidden;
    transition: 0.5s;
}

.menu .grid .grid-item img{
   transform: scale(1.2);
   transition: 0.5s;
}

.menu .grid .grid-item img:hover{
    transform: scale(1);
    transition: 0.5s;
}

/* chefs section */

.chefs{
    text-align: center;
    justify-self: center;
    justify-content: center;
    margin-bottom: 10rem;
    height: fit-content;
}

.chefs h1{
    margin-bottom: 5rem;
    font-family: "Cormorant Garamond", serif;
    font-size: 250%;
    font-weight: lighter;
}

.chefs .chefs-grid{
    display: flex;
    gap: 3%;
    width: 80vw;
    justify-content: center;
}

.chefs .chefs-grid h3{
    margin-top: 3%;
    color: #E8C8A0;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
}

.chefs .chefs-grid .chefs-item{
    width: 25vw;
    height: 75vh;
}

.chefs .chefs-grid .chefs-item img{ 
    border-radius: 3%; 
}

/* reserve section */

.reserve-section{
    display: flex;
    width: 100vw;
    justify-self: center;
    justify-content: center;
    height: fit-content;
    align-items: center;
    border: thin solid rgba(212, 185, 138, 0.1);
    border-left: none;
    border-right: none;
    margin-bottom: 10rem;
    justify-self: center;
}

.reserve-section .flex-item{
    display: flex;
    flex-direction: column;
}

.reserve-section img{
    width: 15vw;
}

.reserve-section p{
    color: #eeebe8;
    font-size: 130%;
    line-height: 1.5;
    font-family: "Cormorant Garamond", serif;   
    font-weight: lighter; 
    text-align: center;
}

.reserve-section a{
    position: relative;
    color: #E8C8A0;
    margin-top: 2%;
    font-family: "Cinzel", serif;
    width: fit-content;
    border-bottom: 1px solid transparent;
    font-weight: lighter;
    transition: 0.5s;
    align-self: center;
    border: 1px solid #D4B98A;
    border-radius: 5%;
    padding: 0.8rem;
}

.reserve-section a:hover{
    border-bottom: 1px solid #D4B98A;
    transition: 0.5s;
    color: black;
    background: #D4B98A;
}

.rotate-img{
    animation: rotate 4s linear;
    animation-iteration-count: infinite;
    transition: 0.5s;
}

.rotate-img:hover{
    animation: unset;
    transition: 0.5s;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

/* footer styling */

.footer-box{
    width: 100vw;
    height: fit-content;
    transition: all 0.8s ease;
    border-top: thin solid rgba(212, 185, 138, 0.3);
    align-items: center;
    align-content: center;
    background: rgba(0, 4, 14, 1);
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
}

.footer{
    width: 60vw;
    justify-self: center;
}

.footer-grid{
    display: flex;
    justify-content: space-between;
    border-bottom: thin solid rgba(212, 185, 138, 0.1);
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

.footer-grid-items{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 6%;
}

.footer-grid-items img{
    width: 5vw;
}

.footer-grid-items ul li{
    margin-bottom: 6%;
    color: #eeebe8;
}

.footer-grid-items a{
    color: #eeebe8;
}

.footer-grid-items a:hover{
    color: #E8C8A0;
}

.footer-grid-items a:active{
    color: #E8C8A0;
}

.footer h3{
    color: #E8C8A0;
    font-family: "Cinzel", serif;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
}

.footer-bottom span{
   color: #eeebe8; 
}

.footer-socials i{
    color: #eeebe8;
    font-size: 110%;
}

.footer-socials i:hover{
    color: #E8C8A0;
}

/* Menu page hero styling */

.menu-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 65vh;
    height: 65dvh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    align-content: center;
    font-family: "Cinzel", serif;
}

.menu-overlay h1{
    font-size: 3vw;
    font-weight: lighter;
    color: #E8C8A0;
    animation: head 2s;
    animation-timing-function: ease-in;
    font-family: "Petit Formal Script", cursive;
}

.lunch-h1{
    display: none;
}

.menu-overlay h2{
    font-size: 0.9vw;
    font-weight: lighter;
    color: #E8C8A0;
    animation: head 2s;
    animation-timing-function: ease-in;
}

.menu-intro{
    width: 100vw;
    height: 65vh;
    height: 65dvh;
    font-family: "Cinzel", serif;
}

.menu-intro .bg{
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    /* The mask ensures the blur only shows at the bottom or fades in */
    mask-image: radial-gradient(transparent, rgba(0, 0, 0, 0.9));
    -webkit-mask-image: radial-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.menu-intro-links{
    display: flex;
    gap: 0.5%;
    width: 50vw;
    justify-self: center;
    justify-content: center;
    animation: head 2s;
    animation-timing-function: ease-in;
    margin-bottom: 5rem;
}

.menu-intro-links span{
    border: 1px solid #D4B98A;
    border-radius: 5%;
    padding: 0.8rem;
    font-size: 1vw;
    font-weight: lighter;
    color: #E8C8A0;
    transition: 0.5s;
    cursor: pointer;
    font-family: "Cinzel", serif;
}

.menu-intro-links span:hover{
    background: #44413b;
    color: #E8C8A0;
    transition: 0.5s;
}

.menu-intro-links .span1{
    background: #E8C8A0;
    color: black;
}

.menu-intro-links .span1:hover{
    background: #E8C8A0;
    color: black;
}

/* Menu page body styling */

.menu-content{
    align-items: center;
    justify-items: center;
}

.menu-content h3{
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #eeebe8;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    animation: head 2s;
    animation-timing-function: ease-in;
    text-align: center;
}

.dinner-menu{
    margin-top: 2rem;
    justify-self: center;
    justify-items: center;
    width: 100vw;
    background: #1f202233;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lunch-menu{
    margin-top: 2rem;
    justify-self: center;
    justify-items: center;
    width: 100vw;
    background: #1f202233;
    padding-bottom: 4rem;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    display: none;
}

.dinner-menu-items{
    width: 50vw;
    border-bottom: thin solid rgba(212, 185, 138, 0.3);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.dinner-menu-items img{
    width: 11vw;
    border-radius: 10px;
}

.dinner-menu-items h3{
    padding-top: 0rem;
    padding-bottom: 0rem;
    color: #E8C8A0;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    text-align: left;
}

.dinner-menu-items h2{
    padding-top: 2rem;
    padding-bottom: 0rem;
    color: #cabfb2;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
}

.dinner-menu-items h4{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #eeebe8;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    font-size: larger;
}

.dinner-menu-items h5{
    color: #c5c3c1;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    font-size: large;
}

.menu-content a{
    border: 1px solid #D4B98A;
    border-radius: 5%;
    padding: 0.8rem;
    font-size: 1vw;
    font-weight: lighter;
    color: #E8C8A0;
    transition: 0.5s;
}

.menu-content a:hover{
    background: #D4B98A;
    color: black;
    transition: 0.5s;
}

/* About us page styling */

.about-our-story{
    padding-left: 10vw;
    margin-top: 10rem;
}

.about-our-story h3{
    padding-bottom: 2rem;
    color: #E8C8A0;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    text-align: left;
    margin-top: 5rem;
}

.about-our-story h1{
    margin-bottom: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    font-size: 250%;
    font-weight: lighter;
}

.about-our-story p{
    color: #eeebe8;
    font-size: 130%;
    line-height: 1.5;
    font-family: "Cormorant Garamond", serif;   
    font-weight: lighter;
    width: 50vw;
}

.about-legacy .about-h1{ 
    text-align: center;
    padding-bottom: 1rem;
    font-family: "Cormorant Garamond", serif;
    font-size: 200%;
    font-weight: lighter;
    padding-top: 5rem;
    animation: head 2s;
    animation-timing-function: ease-in;
}

.about-legacy .about-h3{
    justify-self: center;
    padding-bottom: 0.5rem;
    color: #E8C8A0;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    text-align: left;
    border-bottom: thin solid rgba(212, 185, 138, 0.3);
    width: fit-content;
    font-size: 100%;
    animation: head 2s;
    animation-timing-function: ease-in;
}

/* background image styling */

.review{
    width: 100vw;
    height: 50vh;
    background-image: url(images/arrangement-thanksgiving-day-delicious-dinner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-top: 5rem;
    background-attachment: fixed;
    -webkit-background-size: 100% 100%;
    /* position: fixed; */
}

.review-overlay{
    background: rgba(0, 0, 0, 0.5);
    height: 50vh;
}

/* private event menu package styling */

.about-legacy .menu-package-h3{
    font-size: 120%;
    width: 80vw;
    text-align: center;
    border-bottom: none;
}

.menu-package{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 5rem;
    justify-content: space-evenly;
    height: fit-content;
}

.menu-package-item{
    border: thin solid rgba(212, 185, 138, 0.2);
    padding: 30px;
}

.menu-package h2{
    padding-bottom: 2rem;
    color: #cabfb2;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    text-align: center;
}

.menu-package ul li{
    color: #E8C8A0;
    font-family: "Cormorant Garamond", serif;
    font-size: 120%;
    margin-bottom: 10px;
}

/* Get in touch section Private event page */

.get-in-touch{
    display: flex;
    width: 100vw;
    height: fit-content;
    justify-content: space-evenly;
    margin-top: 10rem;
    background: #000614;
    padding: 30px;
}

.get-in-touch-div{
    width: 35vw;
    font-family: "Cormorant Garamond", serif;
}

.get-in-touch-div span{
    color: #E8C8A0;
}

.get-in-touch-div h3{
    padding-bottom: 2rem;
    color: #E8C8A0;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    text-align: left;
}

.get-in-touch-div h1{
    margin-bottom: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    font-size: 200%;
    font-weight: lighter;
}

.get-in-touch-div p{
    color: #eeebe8;
    font-size: 120%;
    line-height: 1.1;
    font-family: "Cormorant Garamond", serif;   
    font-weight: lighter;
}

.get-in-touch form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-right: 50px;
    font-family: "Cormorant Garamond", serif;
}

.get-in-touch form div{
    display: grid;
    gap: 0.5rem;
}

.get-in-touch form div label{
    color: #E8C8A0;
}

.get-in-touch form div input{
    color: white;
    padding-left: 5px;
    background: none;
    border: none;
    border-bottom:thin solid rgba(212, 185, 138, 0.2) ;
    height: 2rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 100%;
}

.get-in-touch form div select{
    color: white;
    background: none;
    border: none;
    border-bottom:thin solid rgba(212, 185, 138, 0.2);
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 100%;
}

.get-in-touch form div select:focus{
    outline: none;
    border-color: none;
    box-shadow: none;
}

.get-in-touch form div select option{
    color: #E8C8A0;
    background: #040c1a;
    border: none;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 100%;
    outline: none;
}

.get-in-touch form div input:focus{
    outline: none;
    color: white;
}

.get-in-touch form .button{
    grid-column: 1/-1;
    height: fit-content;
}

.get-in-touch form .button button{
    color: black;
    font-weight: bold;
    background: #E8C8A0;
    font-size: 150%;
    padding: 15px;
    font-family: "Cormorant Garamond", serif;
}

.get-in-touch form .button button:hover{
    background: #ccac84;
}

/* remove default placeholder for time and date input */

/* Make the default text color match the background or transparent */
input[type="date"].hidden-placeholder {
  color: transparent;
}

/* Change the color back to normal once a valid date is picked or focused */
input[type="date"].hidden-placeholder:focus,
input[type="date"].hidden-placeholder:valid {
  color: white; /* Use your preferred text color */
}

/* Make the default text color match the background or transparent */
input[type="time"].hidden-placeholderr {
  color: transparent;
}

/* Change the color back to normal once a valid date is picked or focused */
input[type="time"].hidden-placeholderr:focus,
input[type="time"].hidden-placeholderr:valid {
  color: white; /* Use your preferred text color */
}

/* Change the white to match your input's background color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #000614 inset !important;
    box-shadow: 0 0 0 1000px #000614 inset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

/* iframe styling */

.iframe{
    justify-self: center;
    margin-top: 5rem;
}

.iframe iframe{
    border-radius: 10px;
}

@media(max-width:599px){

    /* navbar and homepage overlay styling */

    .navbar ul{
        display: none;
    }

    .navbar .name h1{
        display: none;
    }

    .navbar img{
        width: 17vw;
    }

    .fa-whatsapp{
        font-size: 200%;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
        justify-items: center !important;
        right: 3%;
    }

    .burger-menu {
        display: flex;
    }

    .overlay h1{
        font-size: 12vw;
    }

    .overlay h2{
        font-size: 6vw;
    }

    .intro-links a{
        font-size: 3vw;
        padding: 8px;
    }

    .intro-links{
        width: 100vw;
    }

    /* homepage our story styling */

    .our-story{
        flex-direction: column;
        gap: 3em;
        align-items: center;
    }

    .our-story div{
        width: 90vw;
    }

    .our-story h1{
        font-size: 200%;
    }

    .our-story a{
        font-size: 3vw;
        padding: 8px;
        margin-top: 1rem;
    }

    .our-story p{
        font-size: 120%;
    }

    /* Numbers section */

    .Numbers{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        justify-content: center;
    }

    .Numbers h1{
        font-size: 150%;
    }

    .Numbers p{
       font-size: 80%;
    }

    /* menu/ image styling */

    .menu{
        align-items: center;
    }

    .menu h3{
        margin-bottom: 1.5rem;
        width: 80vw;
    }

    .menu h1{
        margin-bottom: 1rem;
        font-size: 200%;
    }

    .menu a{
        margin-top: 3rem;
        font-size: 3vw;
        padding: 8px;
    }

    .menu .grid{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 44vw);
        gap: 1rem;
    }

    .menu .grid .grid-item{
        height: 25vh;
    }

    /* chefs section */

    .chefs{
        margin-left: auto;
        margin-right: auto;
    }

    .chefs h1{
        margin-bottom: 3rem;
        font-size: 200%;
    }

    .chefs .chefs-grid{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .chefs .chefs-grid h3{
        margin-top: 3%;
    }

    .chefs .chefs-grid .chefs-item{
        width: 90vw;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
    }

    .chefs .chefs-grid .chefs-item img{ 
        border-radius: 5%; 
    }

    /* Homepage reserve section */

    .reserve-section{
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
        width: 90vw;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .reserve-section img{
        width: 15vw;
    }

    .reserve-section p{
        font-size: 100%;
    }

    .reserve-section a{
        font-size: 3vw;
        padding: 8px;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    /* footer styling */

    .footer-box{
        width: 100vw;
        height: fit-content;
        transition: all 0.8s ease;
        border-top: thin solid rgba(212, 185, 138, 0.3);
        align-items: center;
        align-content: center;
        background: rgba(0, 4, 14, 1);
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-top: 2rem;
    }

    .footer{
        width: 100vw;
        justify-self: center;
        padding-left: 2rem;
    }

    .footer-grid{
        flex-direction: column;
        padding-bottom: 1rem;
        gap: 2rem;
    }

    .footer-grid-items{
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 1rem;
    }

    .footer-grid-items img{
        width:20vw;
    }

    .footer-grid-items ul li{
        margin-bottom: 1rem;
        color: #eeebe8;
    }

    .footer-bottom{
        display: grid;
        gap: 1rem;
    }

    .footer-socials i{
        font-size: 100%;
    }

    .footer h3{
        font-size: 100%;
        font-weight: lighter;
    }

    /* Menu page hero styling */

    .menu-overlay{
        height: 55vh;
    }

    .menu-overlay h1{
        font-size: 7vw;
    }

    .menu-overlay h2{
        font-size: 2.8vw;
    }

    .menu-intro{
        height: 55vh;
    }

    .menu-intro-links{
       width: 100vw;
    }

    .menu-intro-links span{
        font-size: 3vw;
        padding: 8px;
    }

    /* Menu page body styling */

    .menu-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .menu-content h3{
        font-size: 120%;
    }

    .menu-h3-btm{
        width: 90vw;
    }
    
    .dinner-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     .lunch-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .dinner-menu-items{
        width: 90vw;
        gap: 1rem;
        align-items: center;
    }

    .dinner-menu-items div{
        width: 45vw;
    }

    .dinner-menu-items img{
        width: 100%;
        height: 20vh;
    }

    .dinner-menu-items h3{
       font-size: 4vw;
    }

    .dinner-menu-items h2{
       font-size: 4vw;
    }

    .dinner-menu-items h4{
        font-size: 4vw;
    }

    .dinner-menu-items h5{
        font-size: 4vw;
    }

    .menu-content a{
        font-size: 3vw;
        padding: 8px;
    }

    .menu-content .menu-h3-btm{
        width: 90vw;
    }

    /* About us page styling */

    .about-our-story{
        padding-left: 0;
        margin-top: 10rem;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        justify-self: center;
    }

    .about-our-story h3{
        margin-top: 0rem;
    }

    .about-our-story h1{
        font-size: 200%;
    }

    .about-our-story p{
        font-size: 120%;
        width: 90vw;
    }

    .about-legacy .about-h1{ 
        font-size: 200%;
    }

    .about-legacy .about-h3{
        text-align: center;
        width: 90vw;
        border-bottom: none;
        margin-left: auto;
        margin-right: auto;
    }

    /* private event menu package styling */

    .about-legacy .menu-package-h3{
        font-size: 120%;
        width: 80vw;
        text-align: center;
        border-bottom: none;
    }

    .menu-package{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .menu-package-item{
        width: 80vw;
        border: 2px solid rgba(212, 185, 138, 0.5);
    }

    /* Get in touch section Private event page */

    .get-in-touch{
        gap: 5rem;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .get-in-touch-div{
        width: 90vw;
    }

    .get-in-touch form{
        padding-right: 0px;
    }

    .get-in-touch form div{
        display: grid;
        gap: 1.5rem;
    }

    /* iframe styling */

    .iframe{
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        width: 90vw;
    }

    .iframe iframe{
        border-radius: 10px;
        width: 90vw;
    }
}